In [39]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

Requirement already up-to-date: sklearn in c:\users\musma\anaconda3\lib\site-packages (0.0)
Requirement already satisfied, skipping upgrade: scikit-learn in c:\users\musma\anaconda3\lib\site-packages (from sklearn) (0.23.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\musma\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.19.0)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\musma\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\musma\anaconda3\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\musma\anaconda3\lib\site-packages (from scikit-learn->sklearn) (0.13.2)

In [40]:
# install joblib. This will be used to save your model. 
# Restart your kernel after installing 
!pip install joblib

Requirement already satisfied: joblib in c:\users\musma\anaconda3\lib\site-packages (0.13.2)

In [41]:
import pandas as pd

# Read the CSV and Perform Basic Data Cleaning

In [42]:
df = pd.read_csv("exoplanet_data.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df.head()

,koi_disposition,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,koi_period,koi_period_err1,koi_period_err2,koi_time0bk,koi_time0bk_err1,...,koi_steff_err2,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra,dec,koi_kepmag
0,CONFIRMED,0,0,0,0,54.418383,2.479000e-04,-2.479000e-04,162.513840,0.003520,...,-81,4.467,0.064,-0.096,0.927,0.105,-0.061,291.93423,48.141651,15.347
1,FALSE POSITIVE,0,1,0,0,19.899140,1.490000e-05,-1.490000e-05,175.850252,0.000581,...,-176,4.544,0.044,-0.176,0.868,0.233,-0.078,297.00482,48.134129,15.436
2,FALSE POSITIVE,0,1,0,0,1.736952,2.630000e-07,-2.630000e-07,170.307565,0.000115,...,-174,4.564,0.053,-0.168,0.791,0.201,-0.067,285.53461,48.285210,15.597
3,CONFIRMED,0,0,0,0,2.525592,3.760000e-06,-3.760000e-06,171.595550,0.001130,...,-211,4.438,0.070,-0.210,1.046,0.334,-0.133,288.75488,48.226200,15.509
4,CONFIRMED,0,0,0,0,4.134435,1.050000e-05,-1.050000e-05,172.979370,0.001900,...,-232,4.486,0.054,-0.229,0.972,0.315,-0.105,296.28613,48.224670,15.714

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6991 entries, 0 to 6990
Data columns (total 41 columns):
koi_disposition      6991 non-null object
koi_fpflag_nt        6991 non-null int64
koi_fpflag_ss        6991 non-null int64
koi_fpflag_co        6991 non-null int64
koi_fpflag_ec        6991 non-null int64
koi_period           6991 non-null float64
koi_period_err1      6991 non-null float64
koi_period_err2      6991 non-null float64
koi_time0bk          6991 non-null float64
koi_time0bk_err1     6991 non-null float64
koi_time0bk_err2     6991 non-null float64
koi_impact           6991 non-null float64
koi_impact_err1      6991 non-null float64
koi_impact_err2      6991 non-null float64
koi_duration         6991 non-null float64
koi_duration_err1    6991 non-null float64
koi_duration_err2    6991 non-null float64
koi_depth            6991 non-null float64
koi_depth_err1       6991 non-null float64
koi_depth_err2       6991 non-null float64
koi_prad             6991 non-null float64
koi_prad_err1        6991 non-null float64
koi_prad_err2        6991 non-null float64
koi_teq              6991 non-null int64
koi_insol            6991 non-null float64
koi_insol_err1       6991 non-null float64
koi_insol_err2       6991 non-null float64
koi_model_snr        6991 non-null float64
koi_tce_plnt_num     6991 non-null int64
koi_steff            6991 non-null int64
koi_steff_err1       6991 non-null int64
koi_steff_err2       6991 non-null int64
koi_slogg            6991 non-null float64
koi_slogg_err1       6991 non-null float64
koi_slogg_err2       6991 non-null float64
koi_srad             6991 non-null float64
koi_srad_err1        6991 non-null float64
koi_srad_err2        6991 non-null float64
ra                   6991 non-null float64
dec                  6991 non-null float64
koi_kepmag           6991 non-null float64
dtypes: float64(31), int64(9), object(1)
memory usage: 2.2+ MB

# Select your features (columns)

In [44]:
# Set features. This will also be used as your x values.
selected_features = df[['koi_period', 'koi_time0bk', 'koi_slogg', 'koi_srad', 'koi_kepmag', 'ra', 'dec']]

y = df[['koi_disposition']]

selected_features

,koi_period,koi_time0bk,koi_slogg,koi_srad,koi_kepmag,ra,dec
0,54.418383,162.513840,4.467,0.927,15.347,291.93423,48.141651
1,19.899140,175.850252,4.544,0.868,15.436,297.00482,48.134129
2,1.736952,170.307565,4.564,0.791,15.597,285.53461,48.285210
3,2.525592,171.595550,4.438,1.046,15.509,288.75488,48.226200
4,4.134435,172.979370,4.486,0.972,15.714,296.28613,48.224670
...,...,...,...,...,...,...,...
6986,8.589871,132.016100,4.296,1.088,14.478,298.74921,46.973351
6987,0.527699,131.705093,4.529,0.903,14.082,297.18875,47.093819
6988,1.739849,133.001270,4.444,1.031,14.757,286.50937,47.163219
6989,0.681402,132.181750,4.447,1.041,15.385,294.16489,47.176281
6990,4.856035,135.993300,4.385,1.193,14.826,297.00977,47.121021

# Create a Train Test Split

Use `koi_disposition` for the y values

In [45]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(selected_features, y, random_state=42)

In [46]:
# Variables for X and Y
y = df['koi_disposition']
X = selected_features

In [47]:
X_train.head()

,koi_period,koi_time0bk,koi_slogg,koi_srad,koi_kepmag,ra,dec
6122,6.768901,133.077240,4.327,1.125,14.725,294.40472,39.351681
6370,0.733726,132.020050,4.578,0.797,15.770,284.50391,42.463860
2879,7.652707,134.460380,4.481,0.963,13.099,295.50211,38.983540
107,7.953547,174.662240,4.536,0.779,15.660,291.15878,40.750271
29,4.959319,172.258529,4.359,1.082,15.263,292.16705,48.727589

# Pre-processing

Scale the data using the MinMaxScaler and perform some feature selection

In [48]:
# Scale your data
from sklearn.preprocessing import MinMaxScaler

# Min Max Define Scale
scale = MinMaxScaler(feature_range=(0,1))

# Transforming the Data
X_train_scaled = scale.fit_transform(X_train)
X_train_scaled = scale.fit_transform(X_test)

print(X_train_scaled)

[[8.23120328e-02 8.64429858e-02 9.00733109e-01 ... 8.21170587e-01
  7.13709623e-01 7.83395611e-01]
 [9.53573333e-02 5.68303988e-02 8.61303745e-01 ... 7.56436377e-01
  8.10999904e-01 6.56069862e-01]
 [7.48704819e-04 1.40853673e-02 8.61105607e-01 ... 8.33209854e-01
  5.16736968e-01 9.37138909e-01]
 ...
 [3.77803586e-02 4.01113314e-02 8.36338419e-01 ... 6.55306538e-01
  6.91630514e-01 2.40628422e-01]
 [6.72829076e-03 2.09860616e-02 7.72141866e-01 ... 7.08464530e-01
  6.66259132e-01 2.58759150e-01]
 [5.53300508e-04 1.37542173e-02 8.36536556e-01 ... 6.96980922e-01
  5.60432049e-01 3.38423236e-01]]

# Train the Model

In [49]:
# Split data into training and testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [50]:
# Create the SVC Model
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model

SVC(kernel='linear')

In [ ]:
print(f"Training Data Score: {model.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {model.score(X_test_scaled, y_test)}")

# Hyperparameter Tuning

Use `GridSearchCV` to tune the model's parameters

In [ ]:
# Create the GridSearchCV model

In [ ]:
# Train the model with GridSearch

In [ ]:
print(grid2.best_params_)
print(grid2.best_score_)

# Save the Model

In [ ]:
# save your model by updating "your_name" with your name
# and "your_model" with your model variable
# be sure to turn this in to BCS
# if joblib fails to import, try running the command to install in terminal/git-bash
import joblib
filename = 'Usman.sav'
joblib.dump(your_model, filename)